.navbar {
    background-color: rgb(29, 29, 29);
}
.nav-link-white {
    color: white !important;
  }

  .j-card-modified {
    background-color: rgb(35, 155, 211);
    font-size: 1.5em; /* Ajusta este valor para cambiar el tamaño general del contenido */
  }
  
  .j-title-modified {
    color: black;
    font-size: 2.2em; /* Ajusta este valor para cambiar el tamaño del título */
  }
  